<div class="container__big-card">

  <div class="big-card__photo">
    <img src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png"
         alt="Placeholder"
         srcset=""
    >
  </div>
  <div class="big-card__title">
    <h1><a href="#"> Saiu a nova versão do Angular</a></h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="#">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam bibendum lectus sit amet ipsum porttitor, non bibendum ante dictum. Nulla quis rhoncus quam. Nam in augue id augue dapibus rutrum. Aliquam velit turpis, dapibus congue elit ac, bibendum hendrerit massa. Integer et elementum nunc. Praesent ac tempor nibh, vitae placerat ex. Praesent urna ipsum, iaculis id bibendum id, ultrices sed lacus. Etiam condimentum massa ac diam cursus, quis condimentum nibh sollicitudin.
      </a>
    </p>
  </div>
</div>
