<header>
  <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      photoCover="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png"
      cardTitle="Título Destacado"
      cardDescription="Loren Ipsum Amet Dolor Consequeteuer"
    >
    </app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
      cardTitle="Saiu a nova versão do Angular"
      photoCover="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png"
    ></app-small-card>
    <app-small-card
      cardTitle="Angular ou React?"
      photoCover="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png"
    ></app-small-card>
    <app-small-card
      cardTitle="Frontend Roadmap"
      photoCover="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png"
    ></app-small-card>
  </div>
</div>
